<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from raroin.creabik.com/Creators.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Nov 2021 15:05:18 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Raroin" />
		<meta name="description" content="Premium NFT marketplace theme" />
		<meta
			name="keywords"
			content="bootstrap, creabik, ThemeForest, bootstrap5, agency theme, saas
			theme, sass, html5"
			/>









			<!-- PLEASE  INCLUDE THIS ___ SOUMYA -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" media="screen" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>
    		<!-- PLEASE  INCLUDE THIS ENDDDDDDDDD ___ SOUMYA -->









		<meta name="robots" content="index, follow" />
		<meta name="language" content="English" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> - Creators </title>
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 STYLES -->
		<link rel="stylesheet" href="assets/css/plugins/remixicon.css" />
		<link
			rel="stylesheet"
			href="assets/css/plugins/bootstrap.min.css"
			/>
		<link
			rel="stylesheet"
			href="assets/css/plugins/swiper-bundle.min.css"
			/>
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body class="body">

		<div class="overflow-hidden">

			
			<header class="header__1 js-header" id="header">
				<div class="container">
					<div class="wrapper js-header-wrapper">
						<div class="header__logo">
							<a href="/">
								<h2>DASH</h2>
							</a>
						</div>
			
						<!-- ==================  -->
						<div class="header__menu">
							<ul class="d-flex space-x-20">
								<li class="has_popup">
									<a class="color_black" href="/">Home</a>
								</li>
								<li>
									<a class="color_black" href="Marketplace.html"> About</a>
								</li>
								
							</ul>
						</div>
						<!-- ================= -->
					
						<div class="header__btns">
							<a class="btn btn-grad btn-sm" href="/logout">
								<i class="ri-wallet-3-line"></i>
								Logout</a>
							
						</div>
						<div class="header__burger js-header-burger"></div>
			
						<div class="header__mobile js-header-mobile">
							<div class="header__mobile__menu space-y-40">
								<ul class="d-flex space-y-20">
									<li> <a class="color_black" href="Marketplace.html"> Marketplace</a> </li>
									<li> <a class="color_black" href="Collections.html"> Collections</a> </li>
									<li> <a class="color_black" href="Profile.html"> Profile</a> </li>
									<li> <a class="color_black" href="Creators.html"> Creators</a> </li>
						
								</ul>
								<div class="space-y-20">
									<div class="header__search in_mobile w-full">
										<input type="text" placeholder="Search" />
										<button class="header__result">
											<i class="ri-search-line"></i>
										</button>
									</div>
									<a class="btn btn-grad btn-sm" href="Connect-wallet.html">Connect
										wallet</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			
			<!-- ====== headers -->
			<header class="header__1 js-header header_wallet" id="header_admin">
				<div class="container">
					<div class="wrapper js-header-wrapper space-x-10">
						<div class="header__logo">
							<a href="index.html">
								<img
									class="header__logo"
									id="logo_js"
									src="assets/img/logos/Logo.svg"
									alt="logo"
									/>
							</a>
						</div>
						<!-- ==================  -->
						<div class="header__menu">
							<ul class="d-flex space-x-20">
								<li class="has_popup">
									<a class="color_black is_new" href="#">Homes <i class="ri-more-2-fill"></i></a>
									<ul class="menu__popup space-y-20">
										<li>
											<a href="Home1.html">
												<i class="ri-home-smile-2-line"></i>
												Home page 1
											</a>
										</li>
										<li>
											<a href="Home2.html">
												<i class="ri-home-2-line"></i> Home page 2</a>
										</li>
										<li>
											<a href="Home3.html">
												<i class="ri-home-5-line"></i> Home page 3</a>
										</li>
										<li>
											<a href="Home5.html">
												<i class="ri-home-5-line"></i> Home page 4</a>
										</li>
									</ul>
								</li>
								<li> <a class="color_black" href="Marketplace.html"> Marketplace</a> </li>
								<li> <a class="color_black" href="Collections.html"> Collections</a> </li>
								<li> <a class="color_black" href="Profile.html"> Profile</a> </li>
								<li> <a class="color_black" href="Creators.html"> Creators</a> </li>
								<li> <a class="color_black" href="kit.html"> Ui Kit </a> </li>
								<li class="has_popup2">
									<a class="color_black is_new" href="#">Pages <i class="ri-more-2-fill"></i></a>
									<ul class="menu__popup2 space-y-20">
										<div class="row sub_menu_row">
										
											<div class="col-lg-6 space-y-10">
												<!-- =============== -->
												<li>
													<a href="Activity.html">
														<i class="ri-line-chart-line"></i>
														Activity
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="edit_profile.html">
														<i class="ri-edit-line"></i>
														Edit Profile
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a href="Item-details.html">
														<i class="ri-gallery-line"></i>
														Item details
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="Live_Auctions.html">
														<i class="ri-auction-line"></i>
														Live Auctions
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="Upcoming_projects.html">
														<i class="ri-upload-line"></i>
														Upcoming projects
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="ranking.html">
														<i class="ri-funds-line"></i>
														Ranking
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a class="is_new" href="newsletter.html">
														<i class="ri-mail-open-line"></i>
														Newsletter
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="forum.html">
														<i class="ri-discuss-line"></i>
														Forum & community
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="post_details.html">
														<i class="ri-chat-check-line"></i>
														Forum details
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a href="no_results.html">
														<i class="ri-file-search-line"></i>
														No Result
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a class="is_new" href="Contact.html">
														<i class="ri-customer-service-2-line"></i>
														Contact
													</a>
												</li>
										
											</div>
										
										
										
										
										
										
										
											<div class="col-lg-6 space-y-10">
										
												<!-- =============== -->
												<li>
													<a href="Upload-type.html">
														<i class="ri-upload-line"></i>
														Upload Types
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="Connect-wallet.html">
														<i class="ri-wallet-3-line"></i>
														Connect wallet
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a href="questions.html">
														<i class="ri-question-line"></i>
														FAQ
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="Submit_request.html">
														<i class="ri-share-forward-line"></i>
														Submit request
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="Submit_request.html">
														<i class="ri-message-3-line"></i>
														Request chat
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="blog.html">
														<i class="ri-layout-line"></i>
														Blog
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="article.html">
														<i class="ri-newspaper-line"></i>
														Article
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="register.html">
														<i class="ri-lock-line"></i>
														Register
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="login.html">
														<i class="ri-shield-user-line"></i>
														Login
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="Privacy.html">
														<i class="ri-file-text-line"></i>
														Privacy Policy
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a c href="404-2.html">
														<i class="ri-file-damage-line"></i>
														404
													</a>
												</li>
											</div>
										</div>						</ul>
								</li>
							</ul>
						</div>
						<!-- ================== -->
						<div class="header__search">
							<input type="text" placeholder="Search" />
							<button class="header__result">
								<i class="ri-search-line"></i>
							</button>
						</div>
						<div class="d-flex align-items-center space-x-20">
							<div class="header__notifications">
								<div class="js-notifications-icon">
									<i class="ri-notification-3-line"></i>
								</div>
								<div class="notifications_popup space-y-20">
									<div class="d-flex justify-content-between">
										<h5> Notifications</h5>
										<a href="Activity.html" class="badge color_white">View all</a>
									</div>
									<div
										class="item
										space-x-20
										d-flex
										justify-content-between
										align-items-center">
										<img
											class="thumb"
											src="assets/img/notifications/1.png"
											alt="..."
											/>
										<div class="details">
											<a href="404-3.html"> <h6>Money revieved</h6> </a>
											<p>0.6 M Coins</p>
										</div>
										<span class="circle"></span>
									</div>
								</div>
							</div>
							<div class="header__avatar">
								<div class="price">
									<span>2.45 <strong>M Coins</strong> </span>
								</div>
								<img
									class="avatar"
									src="assets/img/avatars/avatar_2.png"
									alt="avatar"
									/>
								<div class="avatar_popup space-y-20">
									<div class="d-flex align-items-center justify-content-between">
										<span> 13b9ebda035r178... </span>
										<a href="index.html" class="ml-2">
											<i class="ri-file-copy-line"></i>
										</a>
									</div>
									<div class="d-flex align-items-center space-x-10">
										<img
											class="coin"
											src="assets/img/logos/coin.svg"
											alt="/"
											/>
										<div class="info">
											<p class="text-sm font-book text-gray-400">Balance</p>
											<p class="w-full text-sm font-bold text-green-500">16.58 M Coins</p>
										</div>
									</div>
									<div class="hr"></div>
									<div class="links space-y-10">
										<a href="#">
											<i class="ri-landscape-line"></i> <span> My items</span>
										</a>
										<a href="edit_profile.html">
											<i class="ri-pencil-line"></i> <span> Edit Profile</span>
										</a>
										<a href="#">
											<i class="ri-logout-circle-line"></i> <span> Logout</span>
										</a>
									</div>
								</div>
							</div>
							<div class="header__btns">
								<a class="btn btn-primary btn-sm" href="Upload-type.html">Create</a>
							</div>
							<div class="header__burger js-header-burger"></div>
						</div>
						<div class="header__mobile js-header-mobile">
							<div class="header__mobile__menu space-y-40">
								<ul class="d-flex space-y-20">
									<li> <a class="color_black" href="Marketplace.html"> Marketplace</a> </li>
									<li> <a class="color_black" href="Collections.html"> Collections</a> </li>
									<li> <a class="color_black" href="Profile.html"> Profile</a> </li>
									<li> <a class="color_black" href="Creators.html"> Creators</a> </li>
						
								</ul>
								<div class="space-y-20">
									<div class="header__search in_mobile w-full">
										<input type="text" placeholder="Search" />
										<button class="header__result">
											<i class="ri-search-line"></i>
										</button>
									</div>
									<a class="btn btn-grad btn-sm" href="Connect-wallet.html">Connect
										wallet</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="hero__creators">
			    <div class="container">
			        <div class="row align-items-center justify-content-between">
			            <div class="col-lg-6">
			                <div class="space-y-20">
			                    <h1>Customize your style</h1>
			                    <p class="hero__text">
			                        Try Dragging and dropping the clothes in their respective places.
			                    </p>
			                </div>
			            </div>
			            <div class="col-lg-auto">
			                <button class="btn btn-dark" href="#" id="spinx2"> Try Now
			                </button>
			            </div>
			        </div>
			        <div class="row align-items-center justify-content-between">
			        	<div class="row">
				        	<div class="drags1 drag-drop col-4" id="drags1"><img class="img-fluid" src="assets/s1.png"></div>
				        	<div class="drags2 drag-drop col-4" id="drags2"><img class="img-fluid" src="assets/s2.png"></div>
				        	<div class="dragp1 drag-drop col-2" id="dragp1"><img class="img-fluid" src="assets/p1.png"></div>
				        	<div class="dragp2 drag-drop col-2" id="dragp2"><img class="img-fluid" src="assets/p2.png"></div>
				       	</div>
				       	<center>
				       	<div class="container" style="height:700px;">
					       	<div class="dropzoneup border border-primary w-50 h-50" id="upper">
					       	
					       	</div>
					       	<div class="dropzonelow border border-info w-50 h-50" id="lower">
					       	
					       	</div>
				        </div>
				        <form action="/creator" method="POST" class="form-group mt-100" >
				        	<input type="text" id="idup" name="idup" class="form-group w-75">
				        	<input type="text" id="idlow" name="idlow" class="form-group w-75">
				        	<button class="form-group mt-7 btn btn-grad btn-lg w-75" type="submit"><i class="ri-donut-chart-fill
							            lg"></i> View 3D Model Now</button>
				        </form>
				    	</center>
			        </div>
<script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>
<script>

function dragMoveListener (event) {
  var target = event.target
  // keep the dragged position in the data-x/data-y attributes
  var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
  var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

  // translate the element
  target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

  // update the posiion attributes
  target.setAttribute('data-x', x)
  target.setAttribute('data-y', y)
}

// this function is used later in the resizing and gesture demos
window.dragMoveListener = dragMoveListener

interact('.dropzoneup').dropzone({
  // only accept elements matching this CSS selector
  accept: '#drags1, #drags2',
  // Require a 75% element overlap for a drop to be possible
  overlap: 0.75,

  // listen for drop related events:

  ondropactivate: function (event) {
    // add active dropzone feedback
    event.target.classList.add('drop-active')
  },
  ondragenter: function (event) {
    var draggableElement = event.relatedTarget
    var dropzoneElement = event.target

    // feedback the possibility of a drop
    dropzoneElement.classList.add('drop-target')
    draggableElement.classList.add('can-drop')
    //draggableElement.textContent = 'Dragged in'
  },
  ondragleave: function (event) {
    // remove the drop feedback style
    event.target.classList.remove('drop-target')
    event.relatedTarget.classList.remove('can-drop')
   // event.relatedTarget.textContent = 'Dragged out'
  },
  ondrop: function (event) {
    document.getElementById("idup").value = event.relatedTarget.getAttribute('id');
  },
  ondropdeactivate: function (event) {
    // remove active dropzone feedback
    event.target.classList.remove('drop-active')
    event.target.classList.remove('drop-target')
  }
})

interact('.dropzonelow').dropzone({
  // only accept elements matching this CSS selector
  accept: '#dragp1, #drags2',
  // Require a 75% element overlap for a drop to be possible
  overlap: 0.75,

  // listen for drop related events:

  ondropactivate: function (event) {
    // add active dropzone feedback
    event.target.classList.add('drop-active')
  },
  ondragenter: function (event) {
    var draggableElement = event.relatedTarget
    var dropzoneElement = event.target

    // feedback the possibility of a drop
    dropzoneElement.classList.add('drop-target')
    draggableElement.classList.add('can-drop')
    //draggableElement.textContent = 'Dragged in'
  },
  ondragleave: function (event) {
    // remove the drop feedback style
    event.target.classList.remove('drop-target')
    event.relatedTarget.classList.remove('can-drop')
    //event.relatedTarget.textContent = 'Dragged out'
  },
  ondrop: function (event) {
	document.getElementById("idlow").value = event.relatedTarget.getAttribute('id');  },
  ondropdeactivate: function (event) {
    // remove active dropzone feedback
    event.target.classList.remove('drop-active')
    event.target.classList.remove('drop-target')
  }
})
interact('.drag-drop')
  .draggable({
    inertia: true,
    modifiers: [
      interact.modifiers.restrictRect({
        //restriction: 'parent',
        endOnly: true
      })
    ],
    autoScroll: true,
    // dragMoveListener from the dragging demo above
    listeners: { move: dragMoveListener }
  })
</script>
			        </div>	
			
			    </div>
			</div><div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_1.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										1
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@jimena_stark</p>
									</a>
									<span class="sales color_text">4 coupon worth
										14.28 M Coins</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_2.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										2
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@makinzi_beck</p>
									</a>
									<span class="sales color_text">16 coupon worth
										8.04 M Coins</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_3.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										3
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@jaxon_duffy</p>
									</a>
									<span class="sales color_text">4 coupon worth
										12.53 M Coins</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_4.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										4
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@darian_barry</p>
									</a>
									<span class="sales color_text">62 coupon worth
										7.26 M Coins</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="section__creators mt-100">
				<div class="container">
					<div class="space-y-30">
						<div class="section_head">
							<h2 class="section__title text-center">Latest Winners</h2>
						</div>
						<div class="section__body space-y-20">
							<div class="d-flex space-x-10 justify-content-center
								creators_anim1">
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_1.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@xander_hall...</p>
											</a>
											<span class="price color_green">16.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_2.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@hamza_pitts...</p>
											</a>
											<span class="price color_green">14.55 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_3.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@nathan_walls...</p>
											</a>
											<span class="price color_green">24.13 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_4.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@kelton_collier...</p>
											</a>
											<span class="price color_green">62.68 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_5.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@cade_glover...</p>
											</a>
											<span class="price color_green">32.48 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_1.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@teagan_poole...</p>
											</a>
											<span class="price color_green">50.02 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_2.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@austin_rivera...</p>
											</a>
											<span class="price color_green">9.99 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_3.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@jeremy_shah...</p>
											</a>
											<span class="price color_green">52.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_4.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@joel_reese...</p>
											</a>
											<span class="price color_green">14.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_5.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@anton_wright...</p>
											</a>
											<span class="price color_green">12.24 M Coins</span>
										</div>
									</div>
								</div>
							</div>
							<div class="-ml-70 creators_anim2">
								<div class="d-flex space-x-10 justify-content-center">
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_6.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@eli_tyler...</p>
												</a>
												<span class="price color_green">16.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_7.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@alonzo_knight...</p>
												</a>
												<span class="price color_green">12.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_8.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@cannon_stark...</p>
												</a>
												<span class="price color_green">15.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_9.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@leonel_carey...</p>
												</a>
												<span class="price color_green">4.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_10.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@kolten_hart...</p>
												</a>
												<span class="price color_green">3.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_6.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@M Coinsan_cain...</p>
												</a>
												<span class="price color_green">57.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_7.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@waylon_ford...</p>
												</a>
												<span class="price color_green">13.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_8.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@khloe_bender...</p>
												</a>
												<span class="price color_green">9.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_9.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@jenna_loyd...</p>
												</a>
												<span class="price color_green">7.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_10.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@kaleigh_lewis...</p>
												</a>
												<span class="price color_green">16.58
													M Coins</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex space-x-10 justify-content-center
								creators_anim3">
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_11.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@jimena_stark...</p>
											</a>
											<span class="price color_green">14.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_12.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@krista_bryan...</p>
											</a>
											<span class="price color_green">13.12 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_13.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@natalie_solis...</p>
											</a>
											<span class="price color_green">6.52 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_14.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@makinzi_beck...</p>
											</a>
											<span class="price color_green">11.54 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_15.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@chance_flynn...</p>
											</a>
											<span class="price color_green">34.25 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_11.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@danna_estes...</p>
											</a>
											<span class="price color_green">23.27 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_12.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@ellis_glenn...</p>
											</a>
											<span class="price color_green">16.54 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_13.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@jaxon_duffy...</p>
											</a>
											<span class="price color_green">16.48 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_14.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@marvin_dillon...</p>
											</a>
											<span class="price color_green">43.42 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_15.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@darian_barry...</p>
											</a>
											<span class="price color_green">6.34 M Coins</span>
										</div>
									</div>
								</div>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<div class="section__creators mt-100">
				<div class="container">
					<div class="space-y-30">
						<div class="section_head">
							<div class="row justify-content-between
								align-items-center">
								<div class="col-lg-auto">
									<h2 class="section__title">Discover all Creators</h2>
								</div>
								<div class="col-lg-4">
									<div class="search">
										<input type="text" placeholder="Search"
											class="bg_white" style="background:white
											!important">
										<button class="result">
											<i class="ri-search-line"></i>
										</button>
									</div>
								</div>
			
								<div class="col-lg-auto">
									<div class="dropdown">
										<button class="btn btn-primary btn-sm
											dropdown-toggle"
											type="button"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Recent Active
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">SomM Coinsing else
												here</a>
										</div>
									</div>
								</div>
			
							</div>
						</div>
						<div class="section__body space-y-20">
							<div class="row mb-20_reset">
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_1.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_5.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">191
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">17,005</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_2.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_6.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">142
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">255</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">14,045</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_3.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_7.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">150
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">20,033</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_4.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_8.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">87
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">142</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">23,575</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_5.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_9.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">198
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">321</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">12,024</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_6.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_10.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">234
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">12,053</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
			
						</div>
			
					</div>
				</div>
			</div>
			
			<footer class="footer__1" style="padding: 100px 0 50px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 space-y-20">
							<div class="footer__logo">
								<a href="index.html">
									<!-- <img src="assets/img/logos/Logo.svg" alt="logo" id="logo_js_f"> -->
									<h2>DASH</h2>
								</a>
							</div>
							<p class="footer__text">
								Increasing user engagement via gamification
							</p>
							<div>
								<ul class="footer__social space-x-10 mb-40">
									<li> <a href="#"> <i class="ri-facebook-line"></i> </a>
									</li>
									<li> <a href="#"> <i class="ri-messenger-line"></i> </a>
									</li>
									<li> <a href="#"> <i class="ri-whatsapp-line"></i> </a>
									</li>
									<li> <a href="#"> <i class="ri-youtube-line"></i> </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-6">
							<h6 class="footer__title">Games</h6>
							<ul class="footer__list">
								<li> <a href="Home1.html"> Create Model </a>
								</li>
								<li> <a href="Home2.html"> Spin the Wheel
									</a> </li>
								<li> <a href="Home3.html"> Vote the outfit </a> </li>
							</ul>
						</div>
						<div class="col-lg-2 col-6">
							<h6 class="footer__title">Profile</h6>
							<ul class="footer__list">
								
								<li> <a href="Creators.html"> Creators </a>
								</li>
								<li> <a href="Collections.html"> Leaderboard </a>
								</li>
								<li> <a href="Profile.html"> Privacy Policy </a>
								</li>
							</ul>
						</div>
						<div class="col-lg-2 col-6">
							<h6 class="footer__title">Company</h6>
							<ul class="footer__list">
								<li> <a href="Upload-type.html"> Home </a>
								</li>
								<li> <a href="Upload.html"> About Us </a> </li>
								<li> <a href="Connect-wallet.html"> Contact Us
									</a> </li>
								
							</ul>
						</div>
					</div>
					<p class="copyright text-center">
						Copyright © 2021. Created with love by Team DASH.
					</p>
				</div>
			</footer>		</div>
		<!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 SCRIPTS -->
		<script src="assets/js/jquery-3.6.0.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/swiper-bundle.min.js"></script>
		<script src="assets/js/gsap.min.js"></script>
		<script src="assets/js/ScrollTrigger.min.js"></script>
		<script src="assets/js/sticky-sidebar.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="../cdn.jsdelivr.net/npm/web3%40latest/dist/web3.min.js"></script>
		<script src="../unpkg.com/moralis%400.0.124/dist/moralis.js"></script>
		<script src="assets/js/nft.js"></script>
		<script
			src="../unpkg.com/%40lottiefiles/lottie-player%401.4.4/dist/lottie-player.js"></script>
	</body>

<!-- Mirrored from raroin.creabik.com/Creators.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Nov 2021 15:05:21 GMT -->
</html>