<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from raroin.creabik.com/Creators.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Nov 2021 15:05:18 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Raroin" />
		<meta name="description" content="Premium NFT marketplace theme" />
		<meta
			name="keywords"
			content="bootstrap, creabik, ThemeForest, bootstrap5, agency theme, saas
			theme, sass, html5"
			/>









			<!-- PLEASE  INCLUDE THIS ___ SOUMYA -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" media="screen" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    		<!-- PLEASE  INCLUDE THIS ENDDDDDDDDD ___ SOUMYA -->









		<meta name="robots" content="index, follow" />
		<meta name="language" content="English" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Spin the Wheel </title>
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 STYLES -->
		<link rel="stylesheet" href="assets/css/plugins/remixicon.css" />
		<link
			rel="stylesheet"
			href="assets/css/plugins/bootstrap.min.css"
			/>
		<link
			rel="stylesheet"
			href="assets/css/plugins/swiper-bundle.min.css"
			/>
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body class="body">

		<div class="overflow-hidden">

			
			<header class="header__1 js-header" id="header">
				<div class="container">
					<div class="wrapper js-header-wrapper">
						<div class="header__logo">
							<a href="/">
								<!-- <img
									class="header__logo"
									id="logo_js"
									src="assets/img/logos/Logo.svg"
									alt="logo"
									/> -->
									<h2>DASH</h2>
							</a>
						</div>
			
						<!-- ==================  -->
						<div class="header__menu">
							<ul class="d-flex space-x-20">
								<li class="has_popup">
									<a class="color_black" href="#">Home</a>
								</li>
								<li>
									<a class="color_black" href="Marketplace.html"> About</a>
								</li>
								
							</ul>
						</div>
						<!-- ================= -->
						<div class="header__btns">
							<a class="btn btn-grad btn-sm" href="/logout">
								<i class="ri-wallet-3-line"></i>
								Logout</a>
							
						</div>
						<div class="header__burger js-header-burger"></div>
			
						<div class="header__mobile js-header-mobile">
							<div class="header__mobile__menu space-y-40">
								<ul class="d-flex space-y-20">
									<li> <a class="color_black" href="Marketplace.html"> Marketplace</a> </li>
									<li> <a class="color_black" href="Collections.html"> Collections</a> </li>
									<li> <a class="color_black" href="Profile.html"> Profile</a> </li>
									<li> <a class="color_black" href="Creators.html"> Creators</a> </li>
						
								</ul>
								<div class="space-y-20">
									<div class="header__search in_mobile w-full">
										<input type="text" placeholder="Search" />
										<button class="header__result">
											<i class="ri-search-line"></i>
										</button>
									</div>
									<a class="btn btn-grad btn-sm" href="Connect-wallet.html">Connect
										wallet</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			
			<!-- ====== headers -->
			<header class="header__1 js-header header_wallet" id="header_admin">
				<div class="container">
					<div class="wrapper js-header-wrapper space-x-10">
						<div class="header__logo">
							<a href="index.html">
								<img
									class="header__logo"
									id="logo_js"
									src="assets/img/logos/Logo.svg"
									alt="logo"
									/>
							</a>
						</div>
						<!-- ==================  -->
						<div class="header__menu">
							<ul class="d-flex space-x-20">
								<li class="has_popup">
									<a class="color_black is_new" href="#">Homes <i class="ri-more-2-fill"></i></a>
									<ul class="menu__popup space-y-20">
										<li>
											<a href="Home1.html">
												<i class="ri-home-smile-2-line"></i>
												Home page 1
											</a>
										</li>
										<li>
											<a href="Home2.html">
												<i class="ri-home-2-line"></i> Home page 2</a>
										</li>
										<li>
											<a href="Home3.html">
												<i class="ri-home-5-line"></i> Home page 3</a>
										</li>
										<li>
											<a href="Home5.html">
												<i class="ri-home-5-line"></i> Home page 4</a>
										</li>
									</ul>
								</li>
								<li> <a class="color_black" href="Marketplace.html"> Marketplace</a> </li>
								<li> <a class="color_black" href="Collections.html"> Collections</a> </li>
								<li> <a class="color_black" href="Profile.html"> Profile</a> </li>
								<li> <a class="color_black" href="Creators.html"> Creators</a> </li>
								<li> <a class="color_black" href="kit.html"> Ui Kit </a> </li>
								<li class="has_popup2">
									<a class="color_black is_new" href="#">Pages <i class="ri-more-2-fill"></i></a>
									<ul class="menu__popup2 space-y-20">
										<div class="row sub_menu_row">
										
											<div class="col-lg-6 space-y-10">
												<!-- =============== -->
												<li>
													<a href="Activity.html">
														<i class="ri-line-chart-line"></i>
														Activity
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="edit_profile.html">
														<i class="ri-edit-line"></i>
														Edit Profile
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a href="Item-details.html">
														<i class="ri-gallery-line"></i>
														Item details
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="Live_Auctions.html">
														<i class="ri-auction-line"></i>
														Live Auctions
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="Upcoming_projects.html">
														<i class="ri-upload-line"></i>
														Upcoming projects
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="ranking.html">
														<i class="ri-funds-line"></i>
														Ranking
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a class="is_new" href="newsletter.html">
														<i class="ri-mail-open-line"></i>
														Newsletter
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="forum.html">
														<i class="ri-discuss-line"></i>
														Forum & community
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="post_details.html">
														<i class="ri-chat-check-line"></i>
														Forum details
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a href="no_results.html">
														<i class="ri-file-search-line"></i>
														No Result
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a class="is_new" href="Contact.html">
														<i class="ri-customer-service-2-line"></i>
														Contact
													</a>
												</li>
										
											</div>
										
										
										
										
										
										
										
											<div class="col-lg-6 space-y-10">
										
												<!-- =============== -->
												<li>
													<a href="Upload-type.html">
														<i class="ri-upload-line"></i>
														Upload Types
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="Connect-wallet.html">
														<i class="ri-wallet-3-line"></i>
														Connect wallet
													</a>
												</li>
										
												<!-- =============== -->
												<li>
													<a href="questions.html">
														<i class="ri-question-line"></i>
														FAQ
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="Submit_request.html">
														<i class="ri-share-forward-line"></i>
														Submit request
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="Submit_request.html">
														<i class="ri-message-3-line"></i>
														Request chat
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="blog.html">
														<i class="ri-layout-line"></i>
														Blog
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a class="is_new" href="article.html">
														<i class="ri-newspaper-line"></i>
														Article
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="register.html">
														<i class="ri-lock-line"></i>
														Register
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="login.html">
														<i class="ri-shield-user-line"></i>
														Login
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a href="Privacy.html">
														<i class="ri-file-text-line"></i>
														Privacy Policy
													</a>
												</li>
												<!-- =============== -->
												<li>
													<a c href="404-2.html">
														<i class="ri-file-damage-line"></i>
														404
													</a>
												</li>
											</div>
										</div>						</ul>
								</li>
							</ul>
						</div>
						<!-- ================== -->
						<div class="header__search">
							<input type="text" placeholder="Search" />
							<button class="header__result">
								<i class="ri-search-line"></i>
							</button>
						</div>
						<div class="d-flex align-items-center space-x-20">
							<div class="header__notifications">
								<div class="js-notifications-icon">
									<i class="ri-notification-3-line"></i>
								</div>
								<div class="notifications_popup space-y-20">
									<div class="d-flex justify-content-between">
										<h5> Notifications</h5>
										<a href="Activity.html" class="badge color_white">View all</a>
									</div>
									<div
										class="item
										space-x-20
										d-flex
										justify-content-between
										align-items-center">
										<img
											class="thumb"
											src="assets/img/notifications/1.png"
											alt="..."
											/>
										<div class="details">
											<a href="404-3.html"> <h6>Money revieved</h6> </a>
											<p>0.6 M Coins</p>
										</div>
										<span class="circle"></span>
									</div>
								</div>
							</div>
							<div class="header__avatar">
								<div class="price">
									<span>2.45 <strong>M Coins</strong> </span>
								</div>
								<img
									class="avatar"
									src="assets/img/avatars/avatar_2.png"
									alt="avatar"
									/>
								<div class="avatar_popup space-y-20">
									<div class="d-flex align-items-center justify-content-between">
										<span> 13b9ebda035r178... </span>
										<a href="index.html" class="ml-2">
											<i class="ri-file-copy-line"></i>
										</a>
									</div>
									<div class="d-flex align-items-center space-x-10">
										<img
											class="coin"
											src="assets/img/logos/coin.svg"
											alt="/"
											/>
										<div class="info">
											<p class="text-sm font-book text-gray-400">Balance</p>
											<p class="w-full text-sm font-bold text-green-500">16.58 M Coins</p>
										</div>
									</div>
									<div class="hr"></div>
									<div class="links space-y-10">
										<a href="#">
											<i class="ri-landscape-line"></i> <span> My items</span>
										</a>
										<a href="edit_profile.html">
											<i class="ri-pencil-line"></i> <span> Edit Profile</span>
										</a>
										<a href="#">
											<i class="ri-logout-circle-line"></i> <span> Logout</span>
										</a>
									</div>
								</div>
							</div>
							<div class="header__btns">
								<a class="btn btn-primary btn-sm" href="Upload-type.html">Create</a>
							</div>
							<div class="header__burger js-header-burger"></div>
						</div>
						<div class="header__mobile js-header-mobile">
							<div class="header__mobile__menu space-y-40">
								<ul class="d-flex space-y-20">
									<li> <a class="color_black" href="Marketplace.html"> Marketplace</a> </li>
									<li> <a class="color_black" href="Collections.html"> Collections</a> </li>
									<li> <a class="color_black" href="Profile.html"> Profile</a> </li>
									<li> <a class="color_black" href="Creators.html"> Creators</a> </li>
						
								</ul>
								<div class="space-y-20">
									<div class="header__search in_mobile w-full">
										<input type="text" placeholder="Search" />
										<button class="header__result">
											<i class="ri-search-line"></i>
										</button>
									</div>
									<a class="btn btn-grad btn-sm" href="Connect-wallet.html">Connect
										wallet</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header><div class="hero__creators">
			    <div class="container">
			        <div class="row align-items-center justify-content-between">
			            <div class="col-lg-6">
			                <div class="space-y-20">
			                    <h1>Spin The Wheel</h1>
			                    <p class="hero__text">
			                        Try spining the wheel and win exciting Prizes, Coupons and M-Coins. Click the Spin in the middle of the Wheel or the "Spin Now" Button onthe right side.
			                    </p>
			                </div>
			            </div>
			            <div class="col-lg-auto">
			                <button class="btn btn-dark" href="#" id="spinx2"> Spin Now
			                </button>
			            </div>
			        </div>
			        <div class="row align-items-center justify-content-between">
			        	<div id="wrapper">
            
						        <div id="wheel">
						            <div id="inner-wheel">
						                <div class="sec"><span class="fa fa-meh-o"></span></div>
						                <div class="sec"><span class="fa fa-heart-o"></span></div>
						                <div class="sec"><span class="fa fa-smile-o"></span></div>
						                <div class="sec"><span class="fa fa-minus-circle"></span></div>
						                <div class="sec"><span class="fa fa-star-o"></span></div>
						                <div class="sec"><span class="fa fa-frown-o"></span></div>
						            </div>       
						           
						            <div id="spin">
						                <div id="inner-spin"></div>
						            </div>
						            
						            <div id="shine"></div>
						        </div>
						        
						        
						        <div id="txt"></div>
						  </div>
						  <center class="mt-100 align-items-center justify-content-between">
						    <form class="form-group text-center" action="" method="post">
						        <input class="form-group text-center" type="text" id="xv" style="color:black; text-align:center;" readonly="1">
						        <input class="form-group" type="text" id="xval" hidden>
						        <button class="form-group mt-7 btn btn-grad btn-lg" type="submit"><i class="ri-donut-chart-fill
							            lg"></i> Claim Now</button>
						    </form>
						   </center>

<style>


    /*WRAPPER*/
    #wrapper{ 
        margin: 40px auto 0;    
        width:266px; 
        position:relative;
    }

    #txt{
        color:#eaeaea;  
    }


    /*WHEEL*/
    #wheel{
        width:250px;
        height:250px;
        border-radius:50%;  
        position:relative;
        overflow:hidden;
        border:8px solid #fff;
        box-shadow:rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
        transform: rotate(0deg);
    }

    #wheel:before{
        content:'';
        position:absolute;
        border:4px solid rgba(0,0,0,0.1);
        width:242px;
        height:242px;
        border-radius:50%;
        z-index:1000;   
    }

    #inner-wheel{
        width:100%;
        height:100%;
        
        -webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
        -moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
        -o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
        -ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
        transition:         all 6s cubic-bezier(0,.99,.44,.99); 
    }

    #wheel div.sec{
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 130px 75px 0;
        border-color: #19c transparent;
        transform-origin: 75px 129px;
        left:50px;
        top:-4px;   
        opacity:1;
    }

    #wheel div.sec:nth-child(1){
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        border-color: #16a085 transparent;  
    }
    #wheel div.sec:nth-child(2){
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        border-color: #2980b9 transparent;  
    }
    #wheel div.sec:nth-child(3){
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        border-color: #34495e transparent;  
    }
    #wheel div.sec:nth-child(4){
        transform: rotate(240deg);
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -o-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        border-color: #f39c12 transparent;  
    }
    #wheel div.sec:nth-child(5){
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        border-color: #d35400 transparent;  
    }
    #wheel div.sec:nth-child(6){
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        border-color: #c0392b transparent;  
    }


    #wheel div.sec .fa{
        margin-top: -100px;
        color: rgba(0,0,0,0.2);
        position: relative;
        z-index: 10000000;
        display: block;
        text-align: center;
        font-size:36px;
        margin-left:-15px;
        
        text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
    }




    #spin{
        width:68px;
        height:68px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-34px 0 0 -34px;
        border-radius:50%;
        box-shadow:rgba(0,0,0,0.1) 0px 3px 0px;
        z-index:1000;
        background:#fff;
        cursor:pointer;
        font-family: 'Exo 2', sans-serif;
      
      -webkit-user-select: none; 
      -moz-user-select: none;    
      -ms-user-select: none;     
      -o-user-select: none;
      user-select: none;   
    }


    #spin:after{
        content:"SPIN"; 
        text-align:center;
        line-height:68px;
        color:#CCC;
        text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0,0,0,0.3) ;
        position: relative;
        z-index: 100000;
        width:68px;
        height:68px;
        display:block;
    }

    #spin:before{
        content:"";
        position:absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 28px 20px;
        border-color: transparent transparent #ffffff transparent;
        top:-12px;
        left:14px;
    }

    #inner-spin{
        width:54px;
        height:54px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-27px 0 0 -27px;
        border-radius:50%;
        background:red;
        z-index:999;
        box-shadow:rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset,  rgba(0,0,0,0.4) 0px 0px 5px ;
        
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
    }

    #spin:active #inner-spin{
        box-shadow:rgba(0,0,0,0.4) 0px 0px 5px inset;
    }

    #spin:active:after{
        font-size:15px; 
    }



    #shine{
        width:250px;
        height:250px;
        position:absolute;
        top:0;
        left:0;
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    opacity:0.1;
        
    }



    /*ANIMATION*/
    @-webkit-keyframes hh {
      0%, 100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }

      50%{
        transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
      }
    }

    @keyframes hh {
       0%, 100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }

      50%{
        transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
      }
    }

    .spin {
      -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
        animation: hh 0.1s;
    }

</style>
<script type="text/javascript">
    //set default degree (360*5)
var degree = 1800;
//number of clicks = 0
var clicks = 0;

$(document).ready(function(){
    
    /*WHEEL SPIN FUNCTION*/
    $('#spin').click(function(){
        
        //add 1 every click
        clicks ++;
        
        /*multiply the degree by number of clicks
      generate random number between 1 - 360, 
    then add to the new degree*/
        var newDegree = degree*clicks;
        var extraDegree = Math.floor(Math.random() * (360 - 1 + 1)) + 1;
        totalDegree = newDegree+extraDegree;
        
        /*let's make the spin btn to tilt every
        time the edge of the section hits 
        the indicator*/
        $('#wheel .sec').each(function(){
            var t = $(this);
            var noY = 0;
            
            var c = 0;
            var n = 700;    
            var interval = setInterval(function () {
                c++;                
                if (c === n) { 
                    clearInterval(interval);                
                }   
                    
                var aoY = t.offset().top;
                $("#txt").html(aoY);
                console.log(aoY);
                
                /*23.7 is the minumum offset number that 
                each section can get, in a 30 angle degree.
                So, if the offset reaches 23.7, then we know
                that it has a 30 degree angle and therefore, 
                exactly aligned with the spin btn*/
                if(aoY < 23.89){
                    console.log('<<<<<<<<');
                    $('#spin').addClass('spin');
                    setTimeout(function () { 
                        $('#spin').removeClass('spin');
                    }, 100);    
                }
            }, 10);
            
            $('#inner-wheel').css({
                'transform' : 'rotate(' + totalDegree + 'deg)'          
            });
         
            noY = t.offset().top;
            
        });
    var degmod = totalDegree % 360;
    initext = 'Try spinning the wheel';
    score=0;
    if(degmod>=330 || degmod <30){
        initext = 'Sorry! Try Again';
        score=0;
    }
    else if (degmod>=30 && degmod <90){
        initext = 'Won Rs 100 Off Coupon';
        score = 100;
    }
    else if (degmod>=90 && degmod <150){
        initext = 'Bad Luck! Lost 1 M-Coin';
        score=-1;
    }
    else if (degmod>=150 && degmod <210){
        initext = 'Won 25 M-Coins';
        score=25;
    }
    else if (degmod>=210 && degmod <270){
        initext = 'Won 10 M-Coins';
        score=10;
    }
    else if (degmod>=270 && degmod <330){
        initext = 'Sorry, Try Again';
        score=0;
    }
    $('#xv').val(initext);
    $('#xval').val(score);
    });
    


     $('#spinx2').click(function(){
        
        //add 1 every click
        clicks ++;
        
        /*multiply the degree by number of clicks
      generate random number between 1 - 360, 
    then add to the new degree*/
        var newDegree = degree*clicks;
        var extraDegree = Math.floor(Math.random() * (360 - 1 + 1)) + 1;
        totalDegree = newDegree+extraDegree;
        
        /*let's make the spin btn to tilt every
        time the edge of the section hits 
        the indicator*/
        $('#wheel .sec').each(function(){
            var t = $(this);
            var noY = 0;
            
            var c = 0;
            var n = 700;    
            var interval = setInterval(function () {
                c++;                
                if (c === n) { 
                    clearInterval(interval);                
                }   
                    
                var aoY = t.offset().top;
                $("#txt").html(aoY);
                console.log(aoY);
                
                /*23.7 is the minumum offset number that 
                each section can get, in a 30 angle degree.
                So, if the offset reaches 23.7, then we know
                that it has a 30 degree angle and therefore, 
                exactly aligned with the spin btn*/
                if(aoY < 23.89){
                    console.log('<<<<<<<<');
                    $('#spin').addClass('spin');
                    setTimeout(function () { 
                        $('#spin').removeClass('spin');
                    }, 100);    
                }
            }, 10);
            
            $('#inner-wheel').css({
                'transform' : 'rotate(' + totalDegree + 'deg)'          
            });
         
            noY = t.offset().top;
            
        });
    var degmod = totalDegree % 360;
    initext = 'Try spinning the wheel';
    score=0;
    if(degmod>=330 || degmod <30){
        initext = 'Sorry! Try Again';
        score=0;
    }
    else if (degmod>=30 && degmod <90){
        initext = 'Won Rs 100 Off Coupon';
        score = 100;
    }
    else if (degmod>=90 && degmod <150){
        initext = 'Bad Luck! Lost 1 M-Coin';
        score=-1;
    }
    else if (degmod>=150 && degmod <210){
        initext = 'Won 25 M-Coins';
        score=25;
    }
    else if (degmod>=210 && degmod <270){
        initext = 'Won 10 M-Coins';
        score=10;
    }
    else if (degmod>=270 && degmod <330){
        initext = 'Sorry, Try Again';
        score=0;
    }
    $('#xv').val(initext);
    $('#xval').val(score);
    });
    
    
    
    
    
});//DOCUMENT READY
    


</script>
			        </div>	
			
			    </div>
			</div><div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_1.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										1
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@jimena_stark</p>
									</a>
									<span class="sales color_text">4 coupon worth
										14.28 M Coins</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_2.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										2
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@makinzi_beck</p>
									</a>
									<span class="sales color_text">16 coupon worth
										8.04 M Coins</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_3.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										3
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@jaxon_duffy</p>
									</a>
									<span class="sales color_text">4 coupon worth
										12.53 M Coins</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="creator_item creator_card space-y-10 is_big">
							<div class="avatars flex-column space-y-10">
								<div class="media has_border">
									<a href="Profile.html">
										<img src="assets/img/avatars/avatar_4.png"
											alt="Avatar" class="avatar avatar-md">
									</a>
									<div class="has_number">
										4
									</div>
								</div>
								<div class="text-center">
									<a href="Profile.html">
										<p class="avatars_name large color_black">@darian_barry</p>
									</a>
									<span class="sales color_text">62 coupon worth
										7.26 M Coins</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="section__creators mt-100">
				<div class="container">
					<div class="space-y-30">
						<div class="section_head">
							<h2 class="section__title text-center">Latest Winners</h2>
						</div>
						<div class="section__body space-y-20">
							<div class="d-flex space-x-10 justify-content-center
								creators_anim1">
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_1.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@xander_hall...</p>
											</a>
											<span class="price color_green">16.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_2.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@hamza_pitts...</p>
											</a>
											<span class="price color_green">14.55 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_3.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@nathan_walls...</p>
											</a>
											<span class="price color_green">24.13 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_4.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@kelton_collier...</p>
											</a>
											<span class="price color_green">62.68 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_5.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@cade_glover...</p>
											</a>
											<span class="price color_green">32.48 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_1.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@teagan_poole...</p>
											</a>
											<span class="price color_green">50.02 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_2.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@austin_rivera...</p>
											</a>
											<span class="price color_green">9.99 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_3.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@jeremy_shah...</p>
											</a>
											<span class="price color_green">52.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_4.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@joel_reese...</p>
											</a>
											<span class="price color_green">14.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_5.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@anton_wright...</p>
											</a>
											<span class="price color_green">12.24 M Coins</span>
										</div>
									</div>
								</div>
							</div>
							<div class="-ml-70 creators_anim2">
								<div class="d-flex space-x-10 justify-content-center">
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_6.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@eli_tyler...</p>
												</a>
												<span class="price color_green">16.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_7.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@alonzo_knight...</p>
												</a>
												<span class="price color_green">12.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_8.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@cannon_stark...</p>
												</a>
												<span class="price color_green">15.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_9.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@leonel_carey...</p>
												</a>
												<span class="price color_green">4.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_10.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@kolten_hart...</p>
												</a>
												<span class="price color_green">3.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_6.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@M Coinsan_cain...</p>
												</a>
												<span class="price color_green">57.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_7.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@waylon_ford...</p>
												</a>
												<span class="price color_green">13.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_8.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@khloe_bender...</p>
												</a>
												<span class="price color_green">9.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_9.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@jenna_loyd...</p>
												</a>
												<span class="price color_green">7.58
													M Coins</span>
											</div>
										</div>
									</div>
									<div class="creator_item creator_card space-x-10">
										<div class="avatars space-x-10">
											<a href="Profile.html">
												<img
													src="assets/img/avatars/avatar_10.png"
													alt="Avatar" class="avatar avatar-md">
											</a>
											<div>
												<a href="Profile.html">
													<p class="avatars_name color_black">@kaleigh_lewis...</p>
												</a>
												<span class="price color_green">16.58
													M Coins</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex space-x-10 justify-content-center
								creators_anim3">
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_11.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@jimena_stark...</p>
											</a>
											<span class="price color_green">14.58 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_12.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@krista_bryan...</p>
											</a>
											<span class="price color_green">13.12 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_13.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@natalie_solis...</p>
											</a>
											<span class="price color_green">6.52 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_14.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@makinzi_beck...</p>
											</a>
											<span class="price color_green">11.54 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_15.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@chance_flynn...</p>
											</a>
											<span class="price color_green">34.25 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_11.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@danna_estes...</p>
											</a>
											<span class="price color_green">23.27 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_12.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@ellis_glenn...</p>
											</a>
											<span class="price color_green">16.54 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_13.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@jaxon_duffy...</p>
											</a>
											<span class="price color_green">16.48 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_14.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@marvin_dillon...</p>
											</a>
											<span class="price color_green">43.42 M Coins</span>
										</div>
									</div>
								</div>
								<div class="creator_item creator_card space-x-10">
									<div class="avatars space-x-10">
										<a href="Profile.html">
											<img
												src="assets/img/avatars/avatar_15.png"
												alt="Avatar" class="avatar avatar-md">
										</a>
										<div>
											<a href="Profile.html">
												<p class="avatars_name color_black">@darian_barry...</p>
											</a>
											<span class="price color_green">6.34 M Coins</span>
										</div>
									</div>
								</div>
							</div>
						</div>
			
					</div>
				</div>
			</div>
			<div class="section__creators mt-100">
				<div class="container">
					<div class="space-y-30">
						<div class="section_head">
							<div class="row justify-content-between
								align-items-center">
								<div class="col-lg-auto">
									<h2 class="section__title">Discover all Creators</h2>
								</div>
								<div class="col-lg-4">
									<div class="search">
										<input type="text" placeholder="Search"
											class="bg_white" style="background:white
											!important">
										<button class="result">
											<i class="ri-search-line"></i>
										</button>
									</div>
								</div>
			
								<div class="col-lg-auto">
									<div class="dropdown">
										<button class="btn btn-primary btn-sm
											dropdown-toggle"
											type="button"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Recent Active
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">SomM Coinsing else
												here</a>
										</div>
									</div>
								</div>
			
							</div>
						</div>
						<div class="section__body space-y-20">
							<div class="row mb-20_reset">
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_1.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_5.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">191
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">17,005</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_2.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_6.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">142
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">255</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">14,045</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_3.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_7.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">150
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">20,033</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_4.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_8.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">87
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">142</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">23,575</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_5.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_9.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">198
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">321</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">12,024</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="creator_item creator_card space-y-20 mb-20">
										<div class="avatars flex-column space-y-10">
											<div class="cover">
												<img
													src="assets/img/items/cover_6.png"
													alt="Avatar" class="img-fluid">
											</div>
											<div class="media">
												<a href="Profile.html">
													<img
														src="assets/img/avatars/avatar_10.png"
														alt="Avatar" class="avatar
														avatar-md">
												</a>
											</div>
											<div class="details text-center">
												<div>
													<p class="color_black txt_lg">234
														<span
															class="txt_sm">M Coins</span></p>
													<p class="color_black txt_sm">Sold</p>
												</div>
												<div>
													<p class="color_black txt_lg">345</p>
													<p class="color_black txt_sm">Collections</p>
												</div>
												<div>
													<p class="color_black txt_lg">12,053</p>
													<p class="color_black txt_sm">Views</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
			
						</div>
			
					</div>
				</div>
			</div>
			
			<footer class="footer__1">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 space-y-20">
							<div class="footer__logo">
								<a href="index.html">
									<img src="assets/img/logos/Logo.svg" alt="logo" id="logo_js_f">
								</a>
							</div>
							<p class="footer__text">
								raroin is a shared liquidity NFT market smart contract
							</p>
							<div>
								<ul class="footer__social space-x-10 mb-40">
									<li> <a href="#"> <i class="ri-facebook-line"></i> </a>
									</li>
									<li> <a href="#"> <i class="ri-messenger-line"></i> </a>
									</li>
									<li> <a href="#"> <i class="ri-whatsapp-line"></i> </a>
									</li>
									<li> <a href="#"> <i class="ri-youtube-line"></i> </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-6">
							<h6 class="footer__title">Raroin</h6>
							<ul class="footer__list">
								<li> <a href="Home1.html"> Home1 </a>
								</li>
								<li> <a href="Home2.html"> Home2
									</a> </li>
								<li> <a href="Home3.html"> Home3 </a> </li>
								<li> <a href="Marketplace.html"> Marketplace
									</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-2 col-6">
							<h6 class="footer__title">Assets</h6>
							<ul class="footer__list">
								<li> <a href="Profile.html"> Profile </a>
								</li>
								<li> <a href="Creators.html"> Creators </a>
								</li>
								<li> <a href="Collections.html"> Colletctions </a>
								</li>
								<li> <a href="Activity.html"> Activity
									</a> </li>
							</ul>
						</div>
						<div class="col-lg-2 col-6">
							<h6 class="footer__title">Company</h6>
							<ul class="footer__list">
								<li> <a href="Upload-type.html"> Upload Types </a>
								</li>
								<li> <a href="Upload.html"> Upload </a> </li>
								<li> <a href="Connect-wallet.html"> Connect wallet
									</a> </li>
								<li> <a href="Item-details.html"> Item details </a>
								</li>
							</ul>
						</div>
					</div>
					<p class="copyright text-center">
						Copyright © 2021. Created with love by creabik.
					</p>
				</div>
			</footer>		</div>
		<!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 SCRIPTS -->
		<script src="assets/js/jquery-3.6.0.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/swiper-bundle.min.js"></script>
		<script src="assets/js/gsap.min.js"></script>
		<script src="assets/js/ScrollTrigger.min.js"></script>
		<script src="assets/js/sticky-sidebar.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="../cdn.jsdelivr.net/npm/web3%40latest/dist/web3.min.js"></script>
		<script src="../unpkg.com/moralis%400.0.124/dist/moralis.js"></script>
		<script src="assets/js/nft.js"></script>
		<script
			src="../unpkg.com/%40lottiefiles/lottie-player%401.4.4/dist/lottie-player.js"></script>
	</body>

<!-- Mirrored from raroin.creabik.com/Creators.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Nov 2021 15:05:21 GMT -->
</html>